<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICalcArithmeticservice" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:65136/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICalcArithmeticservice"
        contract="ServiceReference1.ICalcArithmeticservice" name="BasicHttpBinding_ICalcArithmeticservice" />
    </client>
  </system.serviceModel>
</configuration>